.app.light {
  --bg-color: #e8e8ea;
  --primary-color: #0232c2;
  --secondary-color: #0452ff;
  
  --inverted-bg-color: #090949;
  --inverted-primary-color: #849604;
  --inverted-secondary-color: #04ff04;
}